* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

//NAV

.burger-btn {
	position: fixed;
	top: 30px;
	right: 30px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
	&__icon {
		font-size: 3rem;
		color: rgb(9, 172, 9);
	}
}

//HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	text-align: center;
	color: #fff;
	background-image: url(../img/jungle_small.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	&__hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($color: #000000, $alpha: 0.7);
	}
	&__heading {
		padding: 1em;
		font-size: 3rem;
		font-weight: 300;
		z-index: 10;
	}
	&__text {
		font-size: 3.5rem;
		z-index: 10;
	}
}

//O NAS

.section-about {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3em 2em 6em;
	&__heading {
		font-size: 2.5rem;
		margin-bottom: 1.5em;
	}
	&__text {
		text-align: center;
		font-size: 1.5rem;
	}
	&__img {
		height: 200px;
		width: 100%;
		margin-top: 2em;
		background-image: url(../img/waters_small.jpg);
		background-size: cover;
		background-position: center;
	}
}

// HERO IMG

.section-hero-img {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url(../img/girl_small.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	&__hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba($color: #000000, $alpha: 0.4);
	}
	&__heading {
		padding: 1em 2em;
		border: solid 1px;
		font-size: 2rem;
		color: #fff;
		z-index: 2;
	}
}

//OFFERS

.section-offers {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 4em 2em;
	&__heading {
		margin-bottom: 1em;
		font-size: 3rem;
		font-weight: 300;
		text-transform: uppercase;
	}
	&__text {
		margin-bottom: 3em;
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 4em;
		padding: 1em 1em 3em;
		width: 80%;
		box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
		&-heading {
			padding: 1em;
			font-size: 3rem;
		}

		&-text {
			padding-bottom: 1em;
			font-size: 3rem;
			font-weight: 700;
		}
		&-options {
			list-style: none;
		}
		&-option {
			padding: 0.2em;
			.fa-check {
				margin-right: 1em;
				font-size: 1.5rem;
				color: #07c653;
			}
			.fa-minus {
				margin-right: 1em;
				font-size: 1.5rem;
			}
		}
		&-btn {
			margin-top: 2em;
			padding: 0.7em;
			width: 60%;
			background: none;
			border: none;
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
			border-radius: 7px;
			cursor: pointer;
		}
	}
}

//FOOTER

.section-footer {
	height: 300px;
	background-color: #ebebeb;
}
